.order1_image,
.order1_image
  * {
  box-sizing: border-box;
}
.order1_image {
  width: 643px;
  height: 400px;
  text-align: left;
  
  left: 1px;
  right: 1800px;
  bottom: 1300px;
  top: 150px;  
}
.rectangle6-11,
.rectangle6-11 * {
  box-sizing: border-box;
}
.rectangle6-11 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 254px;
  height: 208px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2rem;
  margin-top: 2rem;
}
.catagories,
.catagories * {
  box-sizing: border-box;
}
.catagories {
  color: #198aca;
  margin-left: 20px;
  margin-top: 20px;
  font: 400 16px "Inter", sans-serif;
 
}
.all-catagories,
.all-catagories * {
  box-sizing: border-box;
}
.all-catagories {
  color: rgba(0, 0, 0, 0.5);
  
  font: 400 16px "Inter", sans-serif;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
}
.gold,
.gold * {
  box-sizing: border-box;
}
.gold {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
  font: 400 16px "Inter", sans-serif;
  width: 100%;
  background: transparent;
  border: none;
}
.sliver,
.sliver * {
  box-sizing: border-box;
}
.sliver {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
  font: 400 16px "Inter", sans-serif;
  width: 100%;
  background: transparent;
  border: none;
}
.bronze,
.bronze * {
  box-sizing: border-box;
}
.bronze {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
  font: 400 16px "Inter", sans-serif;
  width: 100%;
  background: transparent;
  border: none;
}
.rectangle6-38,
.rectangle6-38 * {
  box-sizing: border-box;
}
.rectangle6-38 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 254px;
  height: 212px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;
}
.times,
.times * {
  box-sizing: border-box;
}
.times {
  margin-top: 20px;
  margin-left: 20px;
  color: #198aca;
  font: 400 16px "Inter", sans-serif;
  
 
}
.rectangle6-22,
.rectangle6-22 * {
  box-sizing: border-box;
}
.rectangle6-22 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 23px;
  height: 24px;
  margin-left: 20px;
}
.days,
.days * {
  box-sizing: border-box;
}
.days {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 850px;
  right: 2000px;
  bottom: 500px;
  top: 180px; 
}
.rectangle6-39,
.rectangle6-39 * {
  box-sizing: border-box;
}
.rectangle6-39 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 23px;
  height: 24px;
  margin-left: 20px;
}
.months,
.months * {
  box-sizing: border-box;
}
.months {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 850px;
  right: 2000px;
  bottom: 500px;
  top: 220px; 
}
.rectangle6-40,
.rectangle6-40 * {
  box-sizing: border-box;
}
.rectangle6-40 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 23px;
  height: 24px;
  
  left: 800px;
  right: 2000px;
  bottom: 500px;
  top: 260px; 
}
.quarters,
.quarters * {
  box-sizing: border-box;
}
.quarters {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 850px;
  right: 2000px;
  bottom: 500px;
  top: 260px; 
}
.rectangle6-41,
.rectangle6-41 * {
  box-sizing: border-box;
}
.rectangle6-41 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 23px;
  height: 24px;
  margin-left: 20px;
}
.years,
.years * {
  box-sizing: border-box;
}
.years {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 850px;
  right: 2000px;
  bottom: 500px;
  top: 300px; 
}
.rectangle6-13,
.rectangle6-13 * {
  box-sizing: border-box;
}
.rectangle6-13 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.user-list1,
.user-list1 * {
  box-sizing: border-box;
}
.user-list1 {
  color: rgba(25, 138, 202, 0.9);
  text-align: center;
  font: 600 20px "Inter", sans-serif;
 
}
.user-list1,
.user-list1 * {
  box-sizing: border-box;
}
.user-list1 {
  color: rgba(25, 138, 202, 0.9);
  text-align: center;
  font: 600 20px "Inter", sans-serif;
 margin-top: 20px;
}

.star-1,
.star-1 * {
  box-sizing: border-box;
}
.star-1 {
  
  left: 1430px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.vector,
.vector * {
  box-sizing: border-box;
}
.vector {
  
  left: 1470px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.star-3,
.star-3 * {
  box-sizing: border-box;
}
.star-3 {
  
  left: 1495px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.diff,
.diff * {
  box-sizing: border-box;
}
.diff {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 650px;
  right: 500px;
  bottom: 900px;
  top: 250px;
}
.name2,
.name2 * {
  box-sizing: border-box;
}
.name2 {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 800px;
  right: 500px;
  bottom: 900px;
  top: 250px;
}
.loyalty-points,
.loyalty-points * {
  box-sizing: border-box;
}
.loyalty-points {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1200px;
  right: 500px;
  bottom: 900px;
  top: 250px;
}
.voucher-points,
.voucher-points * {
  box-sizing: border-box;
}
.voucher-points {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1500px;
  right: 300px;
  bottom: 900px;
  top: 250px;
}
.customer-levels,
.customer-levels * {
  box-sizing: border-box;
}
.customer-levels {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1700px;
  right: 100px;
  bottom: 900px;
  top: 250px;
}
.line3-3,
.line3-3 * {
  box-sizing: border-box;
}
.line3-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 900px;
  height: 0px;
  
  left: 1050px;
  right: 500px;
  bottom: 800px;
  top: 300px;
  transform-origin: 0 0;
  transform: rotate(0.059deg) scale(1, 1);
}
._1m,
._1m * {
  box-sizing: border-box;
}
._1m {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 650px;
  right: 500px;
  bottom: 900px;
  top: 320px;
}
.thuanm,
.thuanm * {
  box-sizing: border-box;
}
.thuanm {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  
  width: 57.25px;
  height: 24px;
}
._100m,
._100m * {
  box-sizing: border-box;
}
._100m {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  width: 141.29px;
}
._50m,
._50m * {
  box-sizing: border-box;
}
._50m {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  width: 153.9px;
  left: 1560px;
  right: 500px;
  bottom: 900px;
  top: 320px;
}
.sliverm,
.sliverm * {
  box-sizing: border-box;
}
.sliverm {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  width: 163.59px;
  left: 1760px;
  right: 500px;
  bottom: 900px;
  top: 320px;
}

.rectangle6-33,
.rectangle6-33 * {
  box-sizing: border-box;
}
.rectangle6-33 {
  background: rgba(255, 255, 255, 0.9);
  width: 60px;
  height: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first1,
.first1 * {
  box-sizing: border-box;
}
.first1 {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  
  left: 1420px;
  right: 1800px;
  bottom: 1200px;
  top: 860px;
}
.rectangle6-35,
.rectangle6-35 * {
  box-sizing: border-box;
}
.rectangle6-35 {
  background: rgba(25, 138, 202, 0.9);
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._22,
._22 * {
  box-sizing: border-box;
}
._22 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font: 400 12px "Inter", sans-serif;
 
}
.rectangle6-34,
.rectangle6-34 * {
  box-sizing: border-box;
}
.rectangle6-34 {
  background: #ffffff;
  width: 60px;
  height: 30px;
  
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-24%, -50%);
}
.last,
.last * {
  box-sizing: border-box;
}
.last {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
 
}
.container1,.container2{
  display: block;
}
.container2{
  margin-left: 150px;
  margin-top: 30px;
}
.Days{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.information1
{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-top: 70px;
}
.user1{
  width: 878.4;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-top: 20px;
}
.paging
{
  margin-top: 20px;
  justify-content: center;
}
.containerManageCustomer
{
  display: flex;
}