.order_image,
.order_image
  * {
  box-sizing: border-box;
}
.order_image {
  width: 643px;
  height: 400px;
  text-align: left;
 
  left: 1px;
  right: 1800px;
  bottom: 1300px;
  top: 150px;  
}
.rectangle2-12,
.rectangle2-12 * {
  box-sizing: border-box;
}
.rectangle2-12 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin-top: 60px;
  margin-left: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 700px;
  max-width: 1300px;
}
.orders-list,
.orders-list * {
  box-sizing: border-box;
}
.orders-list {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  margin-top: 40px;
}
.order-id,
.order-id * {
  box-sizing: border-box;
}
.order-id {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  margin-left: 10px;
}
.user,
.user * {
  box-sizing: border-box;
}
.user {
  color: #198aca;
  font: 600 20px "Inter", sans-serif;
  width: 220px;
  margin-left: 170px;
}
.phone,
.phone * {
  box-sizing: border-box;
}
.phone {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
 
  left: 1100px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;  
  width: 70px;
}
.address,
.address * {
  box-sizing: border-box;
}
.address {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1300px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;  
  width: 440px;
}
.status,
.status * {
  box-sizing: border-box;
}
.status {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  margin-left: 122px;
  top: 200px;  
  width: 83px;
}
.detail,
.detail * {
  box-sizing: border-box;
}
.detail {
  color: rgba(25, 138, 202, 0.79);
  text-align: center;
  font: 600 20px "Inter", sans-serif;
 
  margin-left: 80px;
  width: 74px;
}
.line2-3,
.line2-3 * {
  box-sizing: border-box;
}
.line2-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1300px;
  height: 0px;
 
  left: 650px;
  right: 1800px;
  bottom: 1500px;
  top: 250px; 
  transform-origin: 0 0;
  transform: rotate(0.078deg) scale(1, 1);
}
.rectangle2-33,
.rectangle2-33 * {
  box-sizing: border-box;
}
.rectangle2-33 {
  background: rgba(255, 255, 255, 0.9);
  width: 60px;
  height: 30px;
 
  left: 1050px;
  right: 1800px;
  bottom: 1200px;
  top: 810px;
}
.first,
.first * {
  box-sizing: border-box;
}
.first {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
 
  left: 1200px;
  right: 1800px;
  bottom: 1300px;
  top: 860px;
}
.rectangle2-35,
.rectangle2-35 * {
  box-sizing: border-box;
}
.rectangle2-35 {
  background: rgba(25, 138, 202, 0.9);
  width: 30px;
  height: 30px;
 
  left: 1230px;
  right: 1800px;
  bottom: 1300px;
  top: 860px;
}
._23,
._23 * {
  box-sizing: border-box;
}
._23 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font: 400 12px "Inter", sans-serif;
 
  left: 1250px;
  right: 1800px;
  bottom: 1300px;
  top: 860px;
}
.rectangle2-34,
.rectangle2-34 * {
  box-sizing: border-box;
}
.rectangle2-34 {
  background: #ffffff;
  width: 60px;
  height: 30px;
 
  left: 1270px;
  right: 1800px;
  bottom: 1300px;
  top: 860px;
}
.last,
.last * {
  box-sizing: border-box;
}
.last {
  color: #000000;
  text-align: left;
  font: 400 12px "Inter", sans-serif;
  position: relative;
}
.information2{
  display: flex;
  margin-top: 80px;
}

.containerOrder{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.status_goods{
  width: 83px;
  margin-left: 60px;
}
._1u
{
  width: 82.14px;
  color: #000000;
    text-align: center;
    font: 600 20px "Inter", sans-serif;
}
.detail_goods{
  margin-right: 20px;
  margin-top: 0px;
}
.address_user{
  width: 440px;
  text-align: center;
  margin-left: 16px;
}
.user_user{
  width: 220px;
  text-align: center;
  margin-left: 16px;
}
.address3 {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  left: 1300px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  width: 440px;
}