.header {
    background-color: red;
    height: 20px;
    padding: 20px;
}

.login-link, .forgot-password-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.form-group {
    display: flex;
    align-items: center;
}

label, input, button {
    margin: 10px;
}
input[type="text"] {
    width: 400px;
    height: 40px;
}
#username {
    margin-left: 101px;
}
#lastname {
    margin-left: 77px;
}
#firstname {
    margin-left: 76px;
}
#password {
    margin-left: 76px;
    width: 400px;
    height: 40px;
}
#confirmpassword {
    margin-left: 16px;
    width: 400px;
    height: 40px;
}
#email {
    margin-left: 134px;
}
button[type="submit"] {
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 266px;
}
.error-message {
    color: red;
}