.order_image,
.order_image
  * {
  box-sizing: border-box;
}
.order_image {
  width: 643px;
  height: 400px;
  text-align: left;
  
  left: 1px;
  right: 1800px;
  bottom: 1300px;
  top: 150px;  
}
.rectangle-10,
.rectangle-10 * {
  box-sizing: border-box;
}
.rectangle-10 {
  background: #ffffff;
  width: 2176px;
  height: 50px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-11,
.rectangle-11 * {
  box-sizing: border-box;
}
.rectangle-11 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 254px;
  height: 212px;
  
  left: 700px;
  right: 1600px;
  bottom: 1200px;
  top: 200px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.catagories,
.catagories * {
  box-sizing: border-box;
}
.catagories {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
}
.days1,
.days1 * {
  box-sizing: border-box;
}
.days1 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 730px;
  right: 1600px;
  bottom: 1200px;
  top: 230px; 
}
.months1,
.months1 * {
  box-sizing: border-box;
}
.months1 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 730px;
  right: 1600px;
  bottom: 1200px;
  top: 260px; 
}
.quarters1,
.quarters1 * {
  box-sizing: border-box;
}
.quarters1 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 730px;
  right: 1600px;
  bottom: 1200px;
  top: 290px; 
}
Copy
.years1,
.years1 * {
  box-sizing: border-box;
}
.years1 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 730px;
  right: 1600px;
  bottom: 1200px;
  top: 320px;  
}
.rectangle-33,
.rectangle-33 * {
  box-sizing: border-box;
}
.rectangle-33 {
  background: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 968px;
  height: 751px;
  
  left: 980px;
  right: 1600px;
  bottom: 1200px;
  top: 150px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.revenue,
.revenue * {
  box-sizing: border-box;
}
.revenue {
  color: #198aca;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: relative;
}
.star-regular-1,
.star-regular-1 * {
  box-sizing: border-box;
}
.star-regular-1 {
  
  left: 1400px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.star-regular-2
.star-regular-2 * {
  box-sizing: border-box;
}
.star-regular-2 {
  
  left: 1460px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.star-regular-3,
.star-regular-3 * {
  box-sizing: border-box;
}
.star-regular-3 {
  
  left: 1520px;
  right: 1800px;
  bottom: 1300px;
  top: 200px;
  overflow: visible;
}
.line-3,
.line-3 * {
  box-sizing: border-box;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 413px;
  height: 0px;  
  
  left: 1030px;
  right: 1800px;
  bottom: 1300px;
  top: 650px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-4,
.line-4 * {
  box-sizing: border-box;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 836px;
  height: 0px;
  
  left: 1030px;
  right: 1800px;
  bottom: 1300px;
  top: 650px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-5,
.line-5 * {
  box-sizing: border-box;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 428.53px;
  height: 0px;
  
  left: 1030px;
  right: 1800px;
  bottom: 1300px;
  top: 500px;
  transform-origin: 0 0;
  transform: rotate(10.759deg) scale(1, 1);
}
.line-6,
.line-6 * {
  box-sizing: border-box;
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 446.27px;
  height: 0px;
  
  left: 1450px;
  right: 1800px;
  bottom: 1300px;
  top: 580px;
  transform-origin: 0 0;
  transform: rotate(-31.624deg) scale(1, 1);
}
._0,
._0 * {
  box-sizing: border-box;
}
._0 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 640px;
}
._2,
._2 * {
  box-sizing: border-box;
}
._2 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 570px;
}
._4,
._4 * {
  box-sizing: border-box;
}
._4 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 500px;
}
._6,
._6 * {
  box-sizing: border-box;
}
._6 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 430px;
}
._8,
._8 * {
  box-sizing: border-box;
}
._8 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 360px;
}
._10,
._10 * {
  box-sizing: border-box;
}
._10 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1000px;
  right: 1800px;
  bottom: 1300px;
  top: 270px;
}
.mon1,
.mon1 * {
  box-sizing: border-box;
}
.mon1 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1030px;
  right: 1800px;
  bottom: 1300px;
  top: 660px;
}
.mon2,
.mon2 * {
  box-sizing: border-box;
}
.mon2 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1430px;
  right: 1800px;
  bottom: 1300px;
  top: 660px;
}
.mon3,
.mon3 * {
  box-sizing: border-box;
}
.mon3 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  
  left: 1830px;
  right: 1800px;
  bottom: 1300px;
  top: 660px;
}
.best-selling-products,
.best-selling-products * {
  box-sizing: border-box;
}
.best-selling-products {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1300px;
  right: 300px;
  bottom: 900px;
  top: 700px;
}
.product,
.product * {
  box-sizing: border-box;
}
.product {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 400px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.name3,
.name3 * {
  box-sizing: border-box;
}
.name3 {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 750px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.color,
.color * {
  box-sizing: border-box;
}
.color {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1200px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.price,
.price * {
  box-sizing: border-box;
}
.price {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1450px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.quantity,
.quantity * {
  box-sizing: border-box;
}
.quantity {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1750px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.sold,
.sold * {
  box-sizing: border-box;
}
.sold {
  color: #000000;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  
  left: 1880px;
  right: 300px;
  bottom: 900px;
  top: 730px;
}
.line-7,
.line-7 * {
  box-sizing: border-box;
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 968px;
  height: 0px;
  
  left: 980px;
  right: 300px;
  bottom: 900px;
  top: 760px;
}
.image_Product1,
.image_Product1 * {
  box-sizing: border-box;
}
.image_Product1 {
  width: 119px;
  height: 92px;
  
  left: 950px;
  right: 300px;
  bottom: 900px;
  top: 730px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.bast-shoe,
.bast-shoe * {
  box-sizing: border-box;
}
.bast-shoe {
  color: #2156de;
  text-align: center;
  font: 700 16px "Inter", sans-serif;
  
  left: 750px;
  right: 300px;
  bottom: 900px;
  top: 780px;
}
.yellow,
.yellow * {
  box-sizing: border-box;
}
.yellow {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  
  left: 1200px;
  right: 300px;
  bottom: 900px;
  top: 780px;
}
._70,
._70 * {
  box-sizing: border-box;
}
._70 {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  
  left: 1440px;
  right: 300px;
  bottom: 900px;
  top: 780px;
}
._101,
._101 * {
  box-sizing: border-box;
}
._101 {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  
  left: 1770px;
  right: 300px;
  bottom: 900px;
  top: 780px;
}
._261,
._261 * {
  box-sizing: border-box;
}
._261 {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  
  left: 1890px;
  right: 300px;
  bottom: 900px;
  top: 780px;
}








