@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-smi: 0.81rem;

  /* Colors */
  --color-gray-100: rgba(0, 0, 0, 0.7);
  --color-gainsboro: #e6e6e6;
  --color-white: #fff;
  --color-black: #000;

  /* border radiuses */
  --br-xl: 20px;
}

.desktop-1 {
  position: relative;
  background: linear-gradient(200.24deg, #c850c0 30.73%, #4158d0 69.79%);
  width: 100%;
  height: 46.2rem;
  overflow: hidden;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.desktop-1-item {
  position: absolute;
  top: 4.3rem;
  left: 21rem;
  background-color: var(--color-white);
  width: 54rem;
  height: 37.94rem;
}
.member-login {
  position: absolute;
  top: 10rem;
  left: 30rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-black);
  display: inline-block;
  width: 11.88rem;
  height: 2.06rem;
}

.rectangle-div {
  position: absolute;
  left: 27rem;
  border-radius:100px;
  width: 20rem;
  height: 2.75rem;
  top: 25rem;
  background-color: #57b846;
  box-sizing: none;
}
.rectangle-div:hover {
  cursor: pointer;
  opacity: 0.9;
}
.login {
  font-weight: 900;
  color: var(--color-white);
}
.forgot-usernamepassword {
  position: absolute;
  top: 29rem;
  left: 32.3rem;
  font-size: var(--font-size-smi);
  text-decoration: none;
}
.img-01-1-icon {
  position: absolute;
  top: 10rem;
  left: 2rem;
  width: 19.75rem;
  height: 18.06rem;
  object-fit: cover;
}
.input100 {
  position: absolute;
font-family: Poppins-Medium;
font-size: 15px;
line-height: 1.5;
color: #666;
display: block;
width: 17rem;
background: #e6e6e6;
height: 3rem;
border-radius: 25px;
padding: 0 30px 0 15px;
top: 14rem;
left: 27rem;
}
  .input200 {
    position: absolute;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 17rem;
  background: #e6e6e6;
  height: 3rem;
  border-radius: 25px;
  padding: 0 30px 0 15px;
  top: 18.5rem;
  left: 27rem;
  }
.New_account>a
{
  color: #666;
  position: absolute;
  top: 34rem;
  left: 32.5rem;
  text-decoration: none;
}
.vector
{
  width: 1rem;
  height: 1rem;
  filter: grayscale(0); 
  -webkit-filter: grayscale(0);
  position: absolute;
  top: 34.2rem;
  left: 42.5rem;
}


.SearchProduct
{
  margin-left: 102px;
  width:90%;
  margin-top: 20px;
}
.search
{
  width: 90%!important;
  height: 2rem!important;
  padding-left:5rem ;
}
.SearchProduct>img{
  position: absolute;
  height: 1rem;
  top: 52.35rem;
  margin-left: 60px;
}
.square {
  width: 15.9rem;
  height: 20rem;
  margin-top: 40px;
  margin-left: 100px;
  border: #000 solid 0.5px;
}
.Category
{
  color: #198ACA;
  margin-top: 5%;
  margin-left: 10%;
}

.type{
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10%;
  margin-right: 3px;
  font-size:larger;
  width: auto;
}
.type:hover
{
opacity: 0.9;
cursor: pointer;
}

.squaresmall {
  width: 5%;
  height: 0.8rem;
  border: #000 solid 0.5px;
  border-radius: 6px 6px;
  background-color: rgb(0, 0, 0,0.4);
  float: left;
  margin-top: 9px;
  position: relative;
}

.container
{
  display:block;
  width: 100%;
}
.AmountCategory
{
  position: absolute;
  font-size: small;
  color: black;
  top:-1rem;
  left: 0.15rem;
  color: #fff;
}

.squareBrands {
  width: 15.9rem;
  height: 20rem;
  margin-top: 20px;
  margin-left: 100px;
  border: #000 solid 0.5px;
}

.Product
{
  width: 63rem;
  min-height: 63rem;
  border: #000 solid 0.5px;
  /* Rectangle 33 */
box-sizing: border-box;
background: rgba(255, 255, 255, 0.7);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 40px;
margin-left: 53px;
margin-bottom: 5rem;
}
.image_Product
{
  height: 293px;  
  width: 253px;
  margin: 2.2rem 0rem 0rem 2.2rem;
  
}
.image_Product:hover
{
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}
.introduce_product
{
  width: 30%;
  float: left;
  margin-left: 1.2rem;
}

.introduce_product>hr
{
  width: 70%;
  margin: 0px 0px 0rem 4rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.PriceProduct{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
width: 40%;
color: #000000;
margin-left: 16px;
}
.NameProduct
{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.bag
{
  margin-left: 100px;
  margin-top: 14px;
  height: 2rem;
  width: 2rem;
}
.item_Price
{
  display: flex;
}
.Pageing {
  width: 100%;
  height: 5%;
  float: left;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squarePageing {
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  text-align: center;
  font-size: 16px;

background: rgba(255, 255, 255, 0.9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}
.squarePageing:hover{
  cursor: pointer;
  background-color: rgb(25, 138, 202,0.9);
  color: #fff;
}
.topNav
{
  text-align: end;
  margin-top: 1rem;
}
.topNav>a
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;
margin-right: 3rem;
}
.midNav{
  display: flex;
}
.midNavleft
{
font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 36px;
line-height: 44px;
margin-left: 8rem;
width:26%;
color: #198ACA;
}
.midNavmid
{
  width: 42%;
  margin-top: 0.6rem;
}
.midNavmid>nav>a
{
  text-decoration: none;
  margin-left: 2rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.midNavright
{
  display: flex;
  width: 10%;
  position: relative;
 
}
.midNavright>img
{
  width: 20px;
  height: 20px;
  position: relative;
}
.midNavright>input
{
 height: 70% !important;
 margin: 0!important;
}
.searchNav
{
  margin-left: 2rem;
  margin-top: 0.5rem;
  position: absolute;
  left: 13rem;
}
.bagProduct
{
  margin-left: 3rem;
  margin-top: 0.4rem;
  height: 23px;
  width: 23px;
}
.bagProduct:hover
{
  cursor: pointer;
  transform: scale(1.1);
}

.bagProduct:active
{
  opacity: 0.6;
}

.searchNav:hover
{
  cursor: pointer;
  transform: scale(1.1);
}

.searchNav:active
{
  opacity: 0.6;
}
.slider
{
  width: 100%;
  margin-top: 1rem;
}
.all
{
  margin-top: 20rem;
}
.MannageProductCotainer_big{
  display: flex;
}
.introduce_product>a{
  text-decoration: none;
  color: inherit;
}
.paging1{
  margin-left: 26rem;
  margin-top: 61rem;
  margin-bottom: 2rem;
}
.th{
  width: 100%;
  margin-left: 20px;
}